<!DOCTYPE html>
<html>
  <head>
    <title>My Craftable Items</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Craftable Item Details</h1>  
    <div style="text-align: center;"> 
      <label for="item-name-input">Enter Item Name:</label><br><br>
    </div>
    <input type="text" id="item-name-input" onkeyup="sendData(this)" placeholder="e.g. Wooden Sword">
    <section id="searchResults"></section> 

    <div style="text-align: center;">
      <label for="item-search-input">Search Items:</label><br><br>
    </div>
    <input type="text" id="item-search-input" onkeyup="sendItemData(this)" placeholder="e.g. Iron Ore">
    <section id="itemSearchResults"></section>

    <script>
      function sendData(e) {
        console.log('sendData function is called');
        const searchResults = document.getElementById('searchResults');
        let match = e.value.match(/^[a-zA-Z ]*/);
        let match2 = e.value.match(/\s*/);

        if (match2[0] === e.value) {
          searchResults.innerHTML = '';
          return;
        }

        if (match[0] === e.value) {
          fetch('getItem', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({payload: e.value})
          })
          .then(res => res.json())
          .then(data => {
            let payload = data.payload;
            console.log(payload);

            searchResults.innerHTML = '';
            if (payload.length < 1) {
              searchResults.innerHTML = `<p>Sorry. Nothing Found.</p>`;
              return;
            }

            payload.forEach((item, index) => {
              if (index > 0) searchResults.innerHTML += '<hr>';
              searchResults.innerHTML += `<p><a href="item/${item.name}">${item.name}</a></p>`;
            });
          });
          return;
        }
        searchResults.innerHTML = '';
      }

      function sendItemData(e) {
        const itemSearchResults = document.getElementById('itemSearchResults');
        let match = e.value.match(/^[a-zA-Z ]*/);
        let match2 = e.value.match(/\s*/); 

        if (match2[0] === e.value) {
          itemSearchResults.innerHTML = '';
          return;
        }

        if (match[0] === e.value) {
          fetch('/getLootItem', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({payload: e.value})
          })
          .then(res => res.json())
          .then(data => {
            let payload = data.payload;
            console.log(payload);

            itemSearchResults.innerHTML = '';
            if (payload.length < 1) {
              itemSearchResults.innerHTML = `<p>Sorry. Nothing Found.</p>`;
              return;
            }

            console.log('sendItemData is called');
            payload.forEach((item, index) => {
              if (index > 0) itemSearchResults.innerHTML += '<hr>';
              itemSearchResults.innerHTML += `<p><a href="loot/${item.items_name}">${payload[index].items_name}</a></p>`;
            });
          });
          return;
        }
        itemSearchResults.innerHTML = '';
      }
    </script>   
  </body>
</html>
